*{
  padding:0px;
  margin:0px; 
}
body{
	min-width:600px;
	height:100%;
}
#wrapper{
	min-height:100%;
}
#header {
	height:150px;	
	background: linear-gradient(to top, green, #CCFFD8);
	position:relative;
}
#welcome {
	margin:0px auto;
	width:475px;
	padding-top: 40px;
	color:red;
}
#log_reg {
	margin-top: 30px;		
}
#log_reg a {
	margin-right: 25px;
	font-size:25px;
	text-decoration:none;
	float:right;	
}
#log_reg a:hover {	
	text-decoration:underline ;		
}
.clear{
	clear:both;	
}
#anim_kod {
	color:#fff;
}
.form{
	margin-top: 34px;
}
#empty{
	height:50px;
}
#footer {
	height:50px;	
	background: linear-gradient(to top, green, #CCFFD8);
	margin-top:-50px;
}
#footer  div{
	margin:0 auto;
	padding-top:18px;
	width:100px;
}